@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin shadow {
        border-radius: 1rem;
		transition: box-shadow 0.2s;
		background-color: $white;
		box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.07);
        border: 1px solid darken($white,  10%);
        transition: all 0.3s;
        &:hover {
            transform: translateY(-5%);
        }
}
