$primary-color: rgba(150,187,124,1);
$danger-color: rgba(231,64,64,1);
$dark-background-color: rgba(45,64,89,1);
$text-color: rgba(37,43,66,1);
$secondary-color-1: rgba(255,171,113,1);
$light-background-color: rgba(255,255,255,1);
$light-gray-1: rgba(250,250,250,1);
$muted-color: rgba(189,189,189,1);
$light-text-gray-1: rgba(250,250,250,1);
$secondary: rgba(243,205,3,1);
$faded-secondary-color-2: rgba(255,242,243,1);
$second-text-color: rgba(115,115,115,1);
$primary-text-color: rgba(150,187,124,1);
$light-text-color: rgba(255,255,255,1);
$faded-primary-color: rgba(239,248,237,1);
$alert-color: rgba(231,124,64,1);
$secondary-color-2: rgba(255,113,113,1);
$success-color: rgba(45,192,113,1);
$disabled-element-color: rgba(142,194,242,1);
$faded-secondary-color-1: rgba(221,244,255,1);
$success-text-color: rgba(45,192,113,1);
$hover-color: rgba(42,124,199,1);
$light-gray-2: rgba(236,236,236,1);
$secondary-text-color-1: rgba(255,171,113,1);
$secondary-text-color-2: rgba(255,113,113,1);
$alert-text-color: rgba(231,124,64,1);
$danger-text-color: rgba(231,64,64,1);
$hover-text-color: rgba(42,124,199,1);
$disabled-element-text-color: rgba(142,194,242,1);
$muted-text-color: rgba(189,189,189,1);
$light-text-gray-2: rgba(236,236,236,1);

$linkon: true;    
@mixin link {
  font-size:14px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:24px;
}

$paragraphon: true;    
@mixin paragraph {
  font-size:14px;
  font-family:"Montserrat";
  font-weight:Regular;
  font-style:normal;
  line-height:20px;
}

$h1on: true;    
@mixin h1 {
  font-size:58px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:80px;
}

$smallon: true;    
@mixin small {
  font-size:12px;
  font-family:"Montserrat";
  font-weight:Regular;
  font-style:normal;
  line-height:16px;
}

$h5on: true;    
@mixin h5 {
  font-size:16px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:24px;
}

$h4on: true;    
@mixin h4 {
  font-size:20px;
  font-family:"Montserrat";
  font-weight:Regular;
  font-style:normal;
  line-height:30px;
}

$btn-texton: true;    
@mixin btn-text {
  font-size:14px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:22px;
}

$h6on: true;    
@mixin h6 {
  font-size:14px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:24px;
}

$h2on: true;    
@mixin h2 {
  font-size:40px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:50px;
}

$h3on: true;    
@mixin h3 {
  font-size:24px;
  font-family:"Montserrat";
  font-weight:Bold;
  font-style:normal;
  line-height:32px;
}

$light-drop-shadow-on: true;    
@mixin light-drop-shadow {
  box-shadow: 0.00px 2.00px 4.00px rgba(0,0,0,0.100);
}      
    

$accentued-drop-shadow-on: true;    
@mixin accentued-drop-shadow {
  box-shadow: 0.00px 13.00px 19.00px rgba(0,0,0,0.070);
}      
    